:root {
    /* Font family */
    --ff: 'Sen', 'sans-serif';

    /* Font weight */
    --fw-n: 400;
    --fw-b: 700;

    /* Font sizes */
    /* 12px */
    --fs-1: 0.75rem;

    /* 14px */
    --fs-2: 0.875rem;

    /* 16px */
    --fs-3: 1rem;

    /* 18px */
    --fs-4: 1.125rem;

    /* 20px */
    --fs-5: 1.25rem;

    /* 40px */
    --fs-6: 2.5rem;

    /* 45px */
    --fs-7: 2.8125rem;

    /* 62px */
    --fs-8: 3.875rem;

    /* Background colors */
    --primary-bg-clr: #222;
    --secondary-bg-clr: #eb5757;

    --primary-tc: #333;
    --secondary-tc: #f9f9f9;

    /* 0space */
    --space-none: 0;

    /* 5px */
    --space-xs: 0.3125rem;

    /* 10px */
    --space-s: 0.625rem;

    /* 15px */
    --space-m: 0.9375rem;

    /* 20px */
    --space-ml: 1.25rem;

    /* 25px */
    --space-b: 1.5625rem;

    /* 35px */
    --space-l: 2.1875rem;

    /* 45px */
    --space-xl: 2.8125rem;

    /* 605x */
    --space-xxl: 4.0625rem;
}